SPOTIFY_CLIENT_ID= f27852eb8a29457e98f5b0ff9a251a76
SPOTIFY_CLIENT_SECRET=86adb14c8ac0473480a5abaf71c96274
APP_BASE_URL=http://127.0.0.1:5500
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5500/api/callback

# Optional
SPOTIFY_MARKET=US
# SPOTIFY_FEATURED_PLAYLIST_ID=37i9dQZF1DXcBWIGoYBM5M
# SPOTIFY_FEATURED_ARTIST_IDS=3TVXtAsR1Inumwj472S9r4,06HL4z0CvFAxyc27GXpf02
